<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
        <label for="username">Enter username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:crimson" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Error</div>
        <br/>
        <hr/>
        <label for="password">Enter password</label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color:crimson" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Error</div>
        <br/>
        <hr/>
        <div class="field">
            <li th:each="role : ${roles}">

                <select hidden th:field="*{roles[__${roleStat.index}__].id}">
                    <option th:value="${role.id}"></option>
                </select>

                <select hidden th:field="*{roles[__${roleStat.index}__].role}">
                    <option th:value="${role.role}"></option>
                </select>

                <input type="checkbox"
                       th:field="*{roles[__${roleStat.index}__]}"
                       th:value="${role}">

                <label th:text="${role.role}"></label>
            </li>
        </div>
        <br/>
        <hr/>
        <input type="submit" value="Create"/>
    </form>
    <hr/>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Log out"/>
    </form>
</body>
</html>