<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
  <h2>Users:</h2>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user: ${users}">
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:text="${user.getRoles()}"/>

        <td>
          <form th:method="GET" th:action="@{/admin/modify/{id}(id=${user.id})}">
            <input type="submit" value="Modify"/>
          </form>
        </td>
        <td>
          <form th:method="DELETE" th:action="@{/admin/delete/{id} (id=${user.id})}">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
        <td>
          <form th:method="GET" th:action="@{/admin/new}">
            <input type="submit" value="Add new user"/>
          </form>
        </td>
        <td>
          <form th:method="POST" th:action="@{/logout}">
            <input type="submit" value="Log out"/>
          </form>
        </td>
    </tbody>
  </table>
</body>
</html>