<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Modify user</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}">
        <input type="hidden" name="_method" value="PATCH" />
        <div class="main block">
            <h2>Modify or correct data</h2>
            <div class="field">
                <label for="username">username</label>
                <input type="text" th:field="*{username}" id="username"/>
                <div style="color:crimson" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Error</div>
            </div>
            <div class="field">
                <label for="password">password</label>
                <input type="text" th:field="*{password}" id="password"/>
                <div style="color:crimson" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Error</div>
            </div>
            <div class="field">
                <li th:each="role : ${userRoles}">

                <select hidden th:field="*{roles[__${roleStat.index}__].id}">
                    <option th:value="${role.id}"></option>
                </select>

                <select hidden th:field="*{roles[__${roleStat.index}__].role}">
                    <option th:value="${role.role}"></option>
                </select>

                <input type="checkbox"
                       th:field="*{roles[__${roleStat.index}__]}"
                       th:value="${role}">

                <label th:text="${role.role}"></label>
                </li>
            </div>
            <br/>
            <hr/>
            <input type="submit" value="Modify or correct"/>
        </div>
    </form>
</body>
</html>